* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.track-container {
  position: relative;
  max-height: 1000px;
  min-width: 800px;
  background: linear-gradient(to right, #765fec, #48a3c3, #44c0ab);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 2rem;
  border-radius: 0.5rem;
  padding: 2rem;
}
.playlistContainer {
  padding: 1rem;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  color: white;
  position: absolute;
  right: 0;
  top: 5rem;
  width: 35%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.playListWrapper{
  display: grid;
  grid-template-columns: 3rem 1fr 2rem;
  gap: 0.5rem;
}
.playlistContainer img {
  width: 100%;
  border-radius: 50%;
}
.playlistContainer p {
  font-size: 1rem;
}
.playListSelector {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
i.fa-list-music {
  border: 2px solid red;
  font-size: 1rem;
  padding: 1rem;
}
.track-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.track-art {
  height: 15rem;
  width: 15rem;
  background-image: URL("mink-mingle-HRyjETL87Gg-unsplash.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}
.playing{
  border: 20px solid rgb(44, 223, 20);
  padding: 2rem;
  animation: player 5s infinite linear;
}
@keyframes player {
  from{
    transform: rotate(0deg);
  }to{
    transform: rotate(360deg);
  }
  
}

.control-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  gap: 1rem;
}
.playpause-track,
.prev-track,
.next-track {
  padding: 25px;
  opacity: 0.8;
  /* Smoothly transition the opacity */
  transition: opacity 0.2s;
}
/* Define the slider width so that it scales properly */
.slider_container {
  width: 75%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modify the appearance of the slider */
.seek_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}

/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}

/* Change the opacity when mouse is hovered */
.seek_slider:hover,
.volume_slider:hover {
  opacity: 1;
}

.seek_slider {
  width: 60%;
}

.volume_slider {
  width: 30%;
}

.current-time,
.total-duration {
  padding: 10px;
}

i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}

/* Change the opacity when mouse is hovered */
.seek_slider:hover {
  opacity: 1;
}
.seek_slider {
  width: 60%;
}
.current-time,
.total-duration {
  padding: 10px;
}

/* Change the mouse cursor to a pointer
   when hovered over */
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward,
i.fa-list-music {
  cursor: pointer;
}
